<header class="site-header" role="banner">

  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
  
    <div class="container">
      <a class="navbar-brand title font-weight-lighter" href="{{ "/" | relative_url }}">
        {% if page.permalink == '/' -%}<span class="font-weight-bold">{{site.title | escape}}</span>
        {% else %}{{site.title | escape}}{%- endif -%}
      </a>


        <ul class="navbar-nav ml-auto flex-nowrap">
        {%- for page in site.pages -%}
        {% if page.permalink == '/about/' %}
          {% assign about_title = page.title %}
        {% endif %}
      {% endfor %}

      <!-- About -->
      <li class="nav-item {% if page.permalink == '/about/' %}active{% endif %}">
        <a class="nav-link" href="{{ '/about/' | relative_url }}">{{ about_title }}
          {%- if page.permalink == '/about/' -%}
          <span class="sr-only">(current)</span>
          {%- endif -%}
        </a>
      </li>

      {% if site.cv_title %}
      <!-- CV -->
      <li class="nav-item {% if page.url contains 'cv' %}active{% endif %}">
        <a class="nav-link" href="{{ '/cv/' | relative_url }}">{{ site.cv_title }}
          {%- if page.url contains 'cv' -%}
          <span class="sr-only">(current)</span>
          {%- endif -%}
        </a>
      </li>
      {%- endif %}

      {% if site.projects_title %}
      <!-- Projects -->
      <li class="nav-item {% if page.url contains 'projects' %}active{% endif %}">
        <a class="nav-link" href="{{ '/projects/' | relative_url }}">{{ site.projects_title }}
          {%- if page.url contains 'projects' -%}
          <span class="sr-only">(current)</span>
          {%- endif -%}
        </a>
      </li>
      {%- endif %}

      {% if site.blog_title %}
      <!-- Blog -->
      <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
        <a class="nav-link" href="{{ '/blog/' | relative_url }}">{{ site.blog_title }}
          {%- if page.url contains 'blog' -%}
          <span class="sr-only">(current)</span>
          {%- endif -%}
        </a>
      </li>
      {%- endif %}
    </ul>
  </div>
  </nav>
</header>
